/* ==========================================================================
   Components.Subtitle
   ========================================================================== */

.subtitle {
    @include rem(font-size, 16px);
    color: $color-mine-shaft;
    font-family: $font-source-sans-pro;
    font-weight: 800;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
