/* ==========================================================================
   Components.Title
   ========================================================================== */

.title {
    @include rem(font-size, 28px);
    color: $color-mine-shaft;
    font-family: $font-source-serif-pro;
    font-weight: 600;
    line-height: 1.2;

    @include mq(small-up) {
        @include rem(font-size, 38px);
    }

    @include mq(medium-up) {
        @include rem(font-size, 42px);
    }

    @media screen and (min-width: 1121px) {
        @include rem(font-size, 50px);
    }
}
