/* ==========================================================================
   Base.Images
   ========================================================================== */

/**
 * 1. Fluidni obrazky pro responzivni design.
 */

img {
    max-width: 100%; /* [1] */
}


/**
 * 1. Google Mapy maji problem s pouzitim `max-width: 100%`; zruseni fluidnich
 *    obrazku s pouzitim jejich selektoru.
 * 2. Zruseni fluidnich obrazku, jsou-li explicitne
 *    nastavene hodnoty `width` a/nebo `height`.
 */

.gm-style img, /* [1] */
img[width], /* [2] */
img[height] {  /* [2] */
    max-width: none;
}

/**
 * 1. Trida, ktera implicitne prepise zruseni fluidnich obrazku,
 *    ktery ma nastavene hodnoty `width` a/nebo `height`.
 */

.responsive {
    max-width: 100% !important; /* [1] */
}
